:root{
    background-color: #E4E3DF;
}

html{
    scroll-behavior: smooth;
}

body{
    padding: 0;
    margin: 0;
}


/***********         Navbar       ***********/

.nav_container{
    display: flex;
    flex-direction: row;
    height: 6.25rem;
}

.btn_container{
    display: flex;
    justify-content: flex-end;
    width: 100%;
    height: 4rem;
    margin-top: 1.3rem;
}

.dark-Light_btn{
    width: 3rem;
    margin-left: 7rem;  
    animation: rotate 0.9s infinite linear;
    filter: invert(8%) sepia(100%) saturate(7485%) hue-rotate(340deg) brightness(96%) contrast(98%);
}

@-webkit-keyframes rotate{
    from{
        -webkit-transform: rotate(0deg);
    }
    to{
        -webkit-transform: rotate(360deg);
    }
}


.list_container{
    margin-right: 3rem;
}

.list_container button{
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    margin-left: 2rem;
    cursor: pointer;
    text-decoration: none;
    text-decoration-skip-ink: auto;
    font-size: 0.813rem;
    list-style: none;
    font-family: 'Roboto Slab';
}

.resume_btn{
    background-color: transparent;
    color: #E00240;
    margin-right: 3rem;
    width: 6rem;
    border-radius: 10px;
    border: #E00240 1.9px solid;
    height: 3rem;
    line-height: 10px;
    cursor: pointer;
}

.resume_btn:hover{
    background-color: #E00240;
    color: whitesmoke;
}


/***********        Header       ************/
.header_container{
    margin: 11.5rem 6.3rem 0 6.3rem;
}

.header_container h1{
    font-size: 20px;
    font-weight: 300;
    color: #E00240;
}

.header_container .name{
    font-size: 70px;
    font-weight: 700;
    margin: 0;
    color: black;
    font-family: 'Mukta', sans-serif;

}

.header_container .header_desc{
    font-size: 70px;
    font-weight: 600;
    margin: 0;
    color: #E00240;
    line-height: 1;
    font-family: 'Mukta', sans-serif;
}

.header_container p{
    font-size: 20px;
    font-weight: 300;
    margin: 0;
    color: black;
    width: 23.938rem;
    line-height: 1.3;
    margin-top: 1.5rem;
    font-family: 'Roboto Slab', sans-serif;
}



/***********        About       ************/

.about_container{
    margin: 20rem 6.3rem 18rem 6.3rem;
}

.slider_panel{
    width: 550px;
    margin-left: 2rem;
    border-radius: 10px;
}

.about_container-content{
    display: flex;
    justify-content: space-between;
}

.about_container h3{
    font-size: 2rem;
    color: black;
    font-weight: 600;
    font-family: 'Mukta', sans-serif;
}

.about_container p{
    width: 30.5rem;
    font-size: 20px;
    line-height: 1.3;
    color: black;
    font-family: 'Roboto Slab';
}

.skill_list{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    width: 23rem;
    list-style: none;
    margin-left: -40px;
    line-height: 1.5;
}

.itemContainer{
    display: flex;
}
.itemContainer img{
    width: 13px;
    margin-bottom: 3px;
    margin-right: 3px;
    filter: invert(8%) sepia(100%) saturate(7485%) hue-rotate(340deg) brightness(96%) contrast(98%);
}


/***********        Projects       ***************************************/

.project_wrapper{
    margin: auto;
    width: 875px;
    height: auto;
    display: block;
}

.project_title_container{
    text-align: center;
    font-size: 2rem;
}

.project_container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    row-gap: 50px;
    column-gap: 188px;
}

.project_panel{
    width: 322px;
    height: 250px;
    border: #E00240 2px solid;
    border-radius: 10px;
}

#space_img{
    width: 322px;
    height: 250px;
    object-fit: fill;
    border-radius: 10px;
}
#folder_one{
    position: relative;
    bottom: 34px;
    left: 9px;
    filter: invert(12%) sepia(70%) saturate(5863%) hue-rotate(334deg) brightness(96%) contrast(112%);
}


/***********        Work       ************/

.work_container{
    margin: auto;
    width: 53rem;
    margin-top: 12rem;
}

.work_title{
    
    font-size: 2rem;
    color: black;
    font-weight: 600;
    text-align: center;
    font-family: 'Mukta', sans-serif;
}

.jobs_container{
    display: flex;
    flex-direction: column;
}

.jobs_tabs-container{
    display: flex;
    flex-direction: row;
    border-radius: 10px;
    padding: 0 1rem 0 1rem;
    justify-content: center;
}

.jobs_tabs-container button{
    background-color: transparent;
    border: none;
    line-height: 4;
    padding: 0;
    text-align: left;
    color: black;
    cursor: pointer;
    margin-left: 2rem;
    border-radius: 10px;
    font-family: 'Roboto Slab';
}

.panel_container{
    display: flex;
    width: 40rem;
    margin-left: 6rem;
}


.panel_0, .panel_1, .panel_2, .panel_3, .panel_4 h3{
    font-family: 'Mukta', sans-serif;
}

.jobs_tabs-container button:focus{
    font-size: 15px;
    color: #E00240;
    animation-name: heart-like;
    animation-duration: 250ms;
    animation-iteration-count: 1;
    animation-timing-function: linear;
    box-shadow: 0px -2px 5px 0px #E00240;
}

.job_description_list{
    list-style: none;
    margin: 0;
    padding: 0;
}
.job_description_list li{
    margin: 0;
    padding: 0;
    font-family: 'Roboto Slab';
}

.work_items{
    display: flex;
    height: 48px;
    margin-top: 11px;
}
.work_items img{
    width: 13px;
    margin-bottom: 3px;
    margin-right: 3px;
    filter: invert(8%) sepia(100%) saturate(7485%) hue-rotate(340deg) brightness(96%) contrast(98%);
    top: 0px;
    padding-bottom: 24px;
}

/*************     Footer    ******************/

.footer_container{
    margin: 11rem 6.3rem 0 6.3rem;
}

.footer_container h2{
    text-align: center;
    font-size: 50px;
    font-family: 'Mukta', sans-serif;
}

.footer_container p{
    width: 23rem;
    justify-content: center;
    margin: auto;
    font-family: 'Roboto Slab';
}

.footer_div{
    margin-top: 4rem;
    height: 3rem;
}

.footer_div p{
    font-size: 12px;
    text-align: center;
}

.footer_design{
    margin-bottom: 4px;
}


