@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed&family=Roboto+Slab:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bellefair&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow&display=swap');

:root{
    --font-one: 'Barlow Condensed', sans-serif;
    --font-two: 'Bellefair', serif;
    --font-three: 'Barlow', sans-serif;;

}

*{
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
    box-sizing: border-box;
}


html{
    margin: 0px;
    height: 100%;
    width: 100%;
}

body{
    margin: 0px;
    height: 100%;
    width: 100%;
}

#crew_mobile_navbar{
    display: none;
}

#mobile_navbar_container #mobile_nav_buttons_container{
    display: none;
}

.home_page{
    background-image: url('./asset/home/background-home-desktop.jpg');
    background-repeat: no-repeat;
    height: auto;
    background-size: cover;
}
.destination_page{
    background-image: url('./asset/destination/background-destination-desktop.jpg');
    background-repeat: no-repeat;
    height: auto;
    background-size: cover;
}
.crew_page{
    background-image: url('./asset/crew/background-crew-desktop.jpg');
    background-repeat: no-repeat;
    height: auto;
    background-size: cover;
}
.technology_page{
    background-image: url('./asset/technology/background-technology-desktop.jpg');
    background-repeat: no-repeat;
    height: auto;
    background-size: cover;
}


#content, #dest, #crew{
    width: 100%;
    height: auto;
}

.home_container{
    width: 100%;
    height: 100%;
}

.home_background-img{
    max-height: 790px;
    width: 100%;
}

#logo{
    width: 48px;
    height: 48px;
    margin-top: 1.5%;
    margin-left: 3rem;
}

#navbar_container{
    width: 100%;
    height: 96px;
    display: flex;
    flex-direction: row;
    top: 0;
    margin-top: 4rem;
    justify-content: space-between;
}

.nav_buttons_container{
    display: flex;
    background-color: #ffffff10;
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
    width: 830px;
    /**box-shadow: inset 0 0 2000px rgba(255, 255, 255, .4);  */
    
}

.nav_buttons_container a{
    background-color: transparent;
    border: none;
    color: #fff;
    font-size: 16px;
    font-family: var(--font-one);
    letter-spacing: 2.7px;
    cursor: pointer;
    height: 55px;
    margin-top: 4.8%;
    text-decoration: none;
    display: flex;
    flex-direction: row;
}

.nav_buttons_container a:focus{
    border-bottom: oldlace 3px solid;
}

#hamburger_menu{
    display: none;
}

#navbar_number{
    margin-right: 5px;
    font-weight: 700;
}

#home_btn, #destination_btn, #crew_btn{
    margin-right: 60px;
}
#home_btn{
    margin-left: 4rem;
}

#technology_btn{
    margin-right: 10px;
}

.description_container{
    width: 100%;
    /*margin-top: 387px;    */
    height: 100%;
    display: flex;
    flex-direction: row;
    color: #D0D6F9;
}

.description_content{
    width: 450px;
    height: 387px;
    margin-left: 165px;
    margin-top: 162px;
}

.title_home{
    font-weight: 400;
    font-size: 28px;
    line-height: 34px;
    font-family: var(--font-one);
    font-style: normal;
    letter-spacing: 4.72px;
}

.space_home{
    font-weight: 400;
    font-size: 150px;
    line-height: 171.9px;
    margin-top: 24px;
    font-family: var(--font-two);
    font-style: normal;
    color: #fff;
}

.paragraph_home{
    font-weight: 400;
    font-size: 18px;
    line-height: 32px;
    font-family: var(--font-three);
    font-style: normal;
}

.explore_logo_home{
    width: 274px;
    height: 274px;
    margin-left: 386px;
    margin-top: 227px;


    font-size: 32px;
    color: black;
    background-color: #fff;
    border-radius: 50%;
    text-align: center;
}

.explore_logo_home p{
    position: relative;
    top: 45%;
    font-family: var(--font-two);
}



/*************        Destination Page     ************************************/
.destination_container{
    width: 100%;
    height: 100%;
}

.main_container{
    height: auto;
    width: 100%;
}

.destination_title_container{
    margin-top: 41px;
    margin-left: 166.5px;
    display: flex;
    flex-direction: row;
    width: 390px;
    height: 34px;
}
.number_title-01{
    font-weight: 700;
    font-size: 28px;
    letter-spacing: 4.72px;
    font-family: var(--font-one);
    color: #fff;
    opacity: 0.25;
    margin-right: 28px;
}

.title_content_destination{
    font-weight: 400;
    font-size: 28px;
    letter-spacing: 4.72px;
    font-family: var(--font-one);
    color: #fff;
}

.moon_and_content{
    display: flex;
    flex-direction: row;
    height: auto;
}


.moon_container{
    width: 445px;
    height: 445px;
    margin-left: 230px;
    margin-top: 87px;
}
.moon_logo{
    width: 444px;
    height: 444px;
}

.destination_content_container{
    width: 445px;
    height: 472px;
    margin-left: 157px;
}

.tab_container{
    width: 285px;
    height: 34px;
    display: flex;
    justify-content: flex-start;
}
.tab_container button{
    background: transparent;
    border: none;
    font-family: var(--font-one);
    color: #d0d6f9;
    margin-right: 36px;
    letter-spacing: 2.7px;
    font-size: 16px;
    cursor: pointer;
}
/* ADD HOVER FOR TAB -- TURN BUTTON WHITE INC. UNDERLINE*/
.nav_buttons_container button:focus{
    border-bottom: #fff 2px solid;
}
/* ADD HOVER FOR TAB -- TURN BUTTON WHITE INC. UNDERLINE*/

.middle_title{
    font-size: 100px;
    font-weight: 400;
    font-family: var(--font-two);
    color: #fff;
    margin-top: 30px;
}

.middle_para{
    color: #d0d6f9;
    font-family: var(--font-three);
    font-size: 18px;
    line-height: 32px;
    font-weight: 400;
}

.content_divider{
    margin-top: 50px;
    color: #383B4B;
    width: 444px;
    height: 1px;
}

.ending_container{
    display: flex;
    flex-direction: row;
    margin-top: 28px;
}

.left_container{
    width: 180px;
    height: 61px;
    margin-right: 70px;
}
.left_content_avg{
    font-weight: 400;
    font-family: var(--font-one);
    font-size: 14px;
    letter-spacing: 2.36px;
    color: #d0d6f9;
}
.left_content_mile{
    font-family: var(--font-two);;
    font-size: 28px;
    line-height: 32.09px;
    font-weight: 400;
    color: #fff;
    margin-top: 12px;
}
.right_content_est{
    font-weight: 400;
    font-size: 14px;
    font-family: var(--font-one);
    letter-spacing: 2.36px;
    color: #d0d6f9;
}

.right_content_days{
    font-family: var(--font-two);
    font-size: 28px;
    color: #fff;
    margin-top: 12px;
}



/*************       Crew Page ************************************/
.crew_page{
    height: auto;
}

.content_wrapper{
    height: auto;
    width: 100%;
}

.crew_title_container{
    margin-top: 41px;
    margin-left: 166.5px;
    display: flex;
    flex-direction: row;
    width: 390px;
    height: 34px;
}

.crew_container{
    height: auto;
}


.middle_content_wrapper{
    display: flex;
    flex-direction: row;
    height: auto;
}

.crew_content_container{
    margin-top: 114px;
    margin-left: 166.5px;
    width: 650px;
    height: 300px;
}

#top_job_position{
    font-weight: 400;
    font-family: var(--font-two);
    font-size: 32px;
    opacity: .5;
    color: #fff;
    margin-bottom: 20px;
}

#top_job_name{
    font-weight: 400;
    font-family: var(--font-two);
    font-size: 56px;
    color: #fff;
    margin-bottom: 27px;
}

#job_description{
    font-weight: 400;
    font-size: 18px;
    color: #D0D6F9;
    font-family: var(--font-three);
    line-height: 32px;
    width: 500px;
    height: 128px;
}

#person_logo_container{
    width: 450px;
    height: 539px;
    margin-left: 140px;
    margin-top: 12px;
}

#person_logo{
    height: 538px;
    width: 440px;
}

.button_slider_container{
    width: 180px;
    height: 17px;
    margin-top: 40px;
}
.button_slider_container button{
    width: 15px;
    height: 15px;
    border-radius: 50%;
    align-items: center;
    margin-right: 24px;
    background: #777676;
    border: none;
    cursor: pointer;
}
.button_slider_container button:focus{
    background: #fff;
}

#btn_one :focus{
    background: #fff;
}



/******************    Technology Container  *******************/
#tech{
    height: 100%;
}

#tech_container{
    height: 600px;
}

#main_container_tech{
    height: 100%;
}

.tech_title_container{
    margin-top: 212px;
    margin-left: 166.5px;
    display: flex;
    flex-direction: row;
    width: 390px;
    height: 34px;
}

#main_container_tech{
    display: flex;
    flex-direction: row;
    height: auto;
}

.tech_button_container{
    margin-left: 165px;
    margin-top: 137px;
    height: 350px;
    display: flex;
    flex-direction: column;
}
.tech_button_container button{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border: none;
    outline: none;
    font-size: 32px;
    font-family: var(--font-two);
    font-weight: 400;
    cursor: pointer;
    background: transparent;
    color: #fff;
    border: grey 1px solid;
}
#tech_btn_one{
    margin-bottom: 32px;
    background: #fff;
    color: black;
}
#tech_btn_two{
    margin-bottom: 32px;
}
#not_active_btn{
    margin-bottom: 32px;
    background: transparent;
    color: #fff;
    border: grey 1px solid;
}

.tech_button_container button:focus{
    background: #fff;
    color: black;
}

#content_container{
    width: 470px;
    margin-left: 80px;
    max-height: 500px;
    margin-top: 137px;
}
#tech_first_heading{
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 2.7px;
    color: #d0d6f9;
    font-family: var(--font-one);
    margin-bottom: 11px;
}
#tech_second_heading{
    font-family: var(--font-two);
    font-weight: 400;
    font-size: 56px;
    color: #fff;
    margin-bottom: 17px;
}
#tech_third_heading{
    font-family: var(--font-three);
    font-size: 18px;
    color: #d0d6f9;
    line-height: 32px;
}


#image_container{
    width: 645px;
    height: 500px;
    object-fit: contain;
    display: flex;
    justify-content: flex-end;
}
#tech_image{
    width: 499px;
    height: 499px;
}



@media screen and (max-width: 1279px){

    .destination_title_container{
        margin-top: 99px;
    }

    .description_content{
        margin-top: 180px;
        margin-left: 100px;
    }

    .destination_content_container{
        margin-left: 37px;
    }

    .explore_logo_home{
        display: block;
        position: absolute;
        right: 0;
        margin: 180px 0 0 0;
    }

    .tab_container{
        width: auto;
        height: 34px;
        display: flex;
        justify-content: center;
    }

    .middle_container{
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .moon_container{
        margin-left: 119px;
    }

    .moon_logo{
        width: 380px;
        height: 380px;
    }
}


/************          Using Ipad test case in firefox for ressponsivenes     ************/
@media screen and (max-width: 950px){

    /*             Home Page Responsive          ******************/
    .home_page{
        background-image: url('./asset/home/background-home-tablet.jpg');
        background-repeat: no-repeat;
        background-size: cover;
    }


    .description_container{
        display: flex;
        flex-direction: column;
    }

    .description_content{
        margin: auto;
        margin-top: 7rem;
        height: auto;
    }

    
    .title_home{
        text-align: center;
        font-size: 20px;
        letter-spacing: 3.38px;
    }

    .space_home{
        margin-top: 0px;
    }

    .paragraph_home{
        font-size: 16px;
        line-height: 28px;
        text-align: center;
    }

    .explore_logo_home{
        width: 242px;
        height: 242px;
        margin: auto;
        margin-top: 80px;
        right: unset;
        position: unset;
    }




    /*       Destination Page Responsive          ******************/

    .destination_page{
        background-image: url('./asset/destination/background-destination-tablet.jpg');
        background-repeat: no-repeat;
        background-size: cover;
    }

      #navbar_container{
          width: 100%;
          margin-top: 0;
          display: flex;
          justify-content: flex-end;
      }  
      .nav_buttons_container{
          width: 450px;
          margin: 0;

      }
      .nav_buttons_container a{
        margin: 0;
        font-size: 14px;
      }
      #navbar_number{
          display: none;
      }
      #home_btn, #destination_btn, #crew_btn, #technology_btn{
          margin-top: 40px;
          margin-right: 32px;

      }
      #logo{
          margin-top: 30px;
          position: absolute;
          left: 0;
      }

      .destination_title_container{
          margin-top: 39px;
          margin-left: 38.5px;
      }

      .destination_title_container p{
          font-size: 20px;
      }

      .moon_and_content{
          display: flex;
          flex-direction: column;
      }

      .moon_container{
          margin: auto;
          margin-top: 34px;
          margin-bottom: 0px;
          width: 300px;
          height: 300px;
      }
      .moon_container img{
          width: 300px;
          height: 300px;
      }
      
      .main_container{
          display: flex;
          flex-direction: column;
      }

      .destination_content_container{
          margin: auto;
          margin-top: 53px;
          width: 574px;
          height: auto;
      }

      .tab_container button{
          font-size: 16px;
      }
      .tab_container{
          margin: auto;
      }

      
      .middle_title{
          font-size: 80px;
          text-align: center;
      }
      .middle_para{
          width: 573px;
          height: 84px;
          font-size: 16px;
          line-height: 28px;
      }

      .content_divider{
          margin-top: 15px;
          width: 100%;
      }

      .ending_container{
          display: flex;
          justify-content: space-evenly;
      }


      /*       Crew Page Responsive          ******************/
      .crew_page{
        background-image: url('./asset/crew/background-crew-tablet.jpg');
        background-repeat: no-repeat;
        background-size: cover;
      }

      .crew_container{
          height: 100%;
      }

      .content_wrapper{
          height: 100%;
      }

      .middle_content_wrapper{
          display: flex;
          flex-direction: column;
          max-height: none;
          height: 100%;
      }
      
      .content_container{
          margin: auto;
          margin-top: 34px;
          text-align: center;
          height: 340px;
      }
      #top_job_position{
          font-size: 24px;
      }

      .job_description_container{
          display: flex;
          justify-content: center;
      }

      .button_slider_container{
          margin: auto;
      }

      #person_logo_container{
          height: 349px;
          margin: auto;
          position: fixed;
          bottom: 0;
          left: 25%;
      }

      #person_logo{
          width: 312px;
          height: 338px;
          position: fixed;
          bottom: 0;
          left: 34%;
      }


      /*       Technology Page Responsive          ******************/
      .technology_page{
        background-image: url('./asset/technology/background-technology-tablet.jpg');
        background-repeat: no-repeat;
        background-size: cover;
      }

      #main_container_tech{
          display: flex;
          flex-direction: column;
      }
      #main_container_tech .tech_button_container{
        order: 2;
      }

      #main_container_tech #content_container{
        order: 3;
      }

      #main_container_tech #image_container{
        order: 1;
      }

      #image_container{
          width: 100%;
          height: 310px;
          margin-top: 57px;
      }
      #image_container img{
          display: none;
      }

      #tech_image{
        background-image: url("./asset/technology/image-launch-vehicle-landscape.jpg");
        background-repeat: no-repeat;
        width: 100%;
        height: 310px;
        background-size: cover;
      }

      .landscape_vehicle{
          background-image: url("./asset/technology/image-launch-vehicle-landscape.jpg");
          background-repeat: no-repeat;
          width: 100%;
          height: 310px;
          background-size: cover;
      }

      .landscape_spaceport{
        background-image: url("./asset/technology/image-spaceport-landscape.jpg");
          background-repeat: no-repeat;
          width: 100%;
          height: 310px;
          background-size: cover;
      }

      .landscape_capsule{
        background-image: url("./asset/technology/image-space-capsule-landscape.jpg");
        background-repeat: no-repeat;
        width: 100%;
        height: 310px;
        background-size: cover;
      }

      .tech_button_container{
          width: 210px;
          height: 60px;
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          margin: auto;
          margin-top: 30px;
          margin-bottom: 30px;
      }

      .tech_button_container button{
          width: 58px;
          height: 58px;
      }
    
      #content_container{
          margin: auto;
          width: 458px;
          height: 237px;
          text-align: center;
      }
      #tech_second_heading{
          font-size: 40px;
      }
      #tech_third_heading{
          font-size: 16px;
          line-height: 28px;

      }

      .tech_button_container button :nth-child(1){
        order:3;
      }
      .tech_button_container :nth-child(2){
        order:1;
      }
      .tech_button_container :nth-child(3){
        order:2;
      }

      /** Crew Responsive ******************************/

      .crew_title_container{
          margin-left: 38.5px;
      }

      .number_title-01, .title_content_destination{
          font-size: 20px;
      }

      .crew_content_container{
          width: auto;
          margin: auto;
          margin-top: 14px;
          display: flex;
          flex-direction: column;
          align-items: center;
      }

      #top_job_name{
          font-size: 40px;
          margin-bottom: 16px;
      }

      #job_description{
          font-size: 16px;
          line-height: 28px;
          text-align: center;
      }

}


/************          750 Screen Width    ****************************************/

@media screen and (max-width: 750px){

    .description_container{
        width: 100%;
        height: auto;
    }
    
    .description_content{
        text-align: center;
        margin: auto;
        margin-top: 140px;
    }

    .title_home{
        font-size: 16px;
        letter-spacing: 2.7px;
    }

    .space_home{
        font-size: 80px;
        line-height: 100px;

    }

    .paragraph_home{
        font-size: 15px;
        line-height: 25px;
    }

    #navbar_container{
        justify-content: flex-start;
    }

    .nav_buttons_container{
        display: none;
    }
    #hamburger_menu{
        display: block;
        width: 28px;
        height: 26px;
        width: 28px;
        height: 26px;
        position: absolute;
        right: 0;
        margin: 2rem 3rem 0 0;
    }

    #logo{
        float: left;
    }

    .explore_logo_home{
        margin-top: 100px;
        width: 150px;
        height: 150px;
        font-size: 20px;
        letter-spacing: 1.25px;
    }


    /*     Destination ****************************************/
    .moon_container{
        width: 230px;
        height: 230px;
    }
    .moon_container img{
        width: 230px;
        height: 230px;
    }

    .destination_content_container{
        margin: auto;
        width: auto;
    }

    .middle_para{
        width: 400px;
        height: 120px;
    }

    .middle_container{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

}


@media screen and (max-width: 460px){

    .home_page{
        width: 100%;
        height: auto;
        background-image: url('./asset/home/background-home-mobile.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        object-fit: cover;
    }


    .destination_page{
        width: 100%;
        height: auto;
        background-image: url('./asset/destination/background-destination-mobile.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        object-fit: cover;
    }

    .crew_page{
        width: 100%;
        height: auto;
        background-image: url('./asset/crew/background-crew-mobile.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        object-fit: cover;
    }

    .technology_page{
        width: 100%;
        max-height: auto;
        background-image: url('./asset/technology/background-technology-mobile.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        object-fit: cover;
    }


    /****** Navbar *************************************/

    #close_btn{
        width: 25px;
        position: absolute;
        right: 35px;
        top: 25px;
        filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(298deg) brightness(109%) contrast(101%);
    }

    #mobile_nav_buttons_container{
        position: absolute;
        right: 0px;
        height: 87.9%;
        box-shadow: 1.3rem 1.3rem 1.3rem rgbs(249,249,249,0.82);
        width: 280px;
        z-index: 1;
        flex-direction: column;
        align-items: flex-start;
        background: rgba(255,255,255,0.7);
    }
    #mobile_nav_buttons_container a{
        background-color: transparent;
        border: none;
        color: black;
        font-size: 18px;
        font-family: var(--font-one);
        letter-spacing: 2.7px;
        cursor: pointer;
        height: 55px;
        text-decoration: none;
        display: flex;
        flex-direction: row;
        display: block;
    }
    #home_btn{
        margin: 0;
        margin-top: 60px;
    }










    /****** Navbar *************************************/

    #logo{
        width: 40px;
        height: 40px;
        top: 0px;
    }

    .description_content{
        width: 100%;
        height: auto;
        margin-top: 63px;
    }

    .paragraph_home{
        margin: auto;
        width: 327px;
        height: 125px;
    }

    .explore_logo_home{
        margin-top: 6rem;
    }


    /** Destination Mobile   ****************************/

    .mobile_look
    {
        top: 96px;
        position: fixed;
    }

    .destination_mobile_container{
        position: fixed;
        top: 96px;
    }
    
    .content_wrapper{
        top: 96px;
        position: fixed;
    }

    .destination_title_container{
        position: fixed;
        width: 100%;
        top: 96px;
    }

    #main_container_tech{
        position: fixed;
        top: 108px;
    }

    




    .destination_title_container{
        margin: auto;
        margin-top: 55px;
        text-align: center;
        margin-top: 0px;
        justify-content: center;
    }

    .destination_title_container p{
        font-size: 16px;
    }

    .moon_container{
        margin-top: 20px;
        text-align: center;
        width: 170px;
        height: 170px;
    }

    .moon_container img{
        width: 170px;
        height: 170px;
    }

    .tab_container{
        margin-top: 20px;
        display: flex;
        justify-content: space-around;
    }

    #moon_btn, #mars_btn, #europa_btn, #titan_btn{
        margin: 0px;
    }

    .tab_container button, .middle_para{
        font-size: 14px;
    }

    .middle_title{
        font-size: 56px;
        margin-top: 0px;
    }

    .middle_para{
        width: 327px;
        height: auto;
        text-align: center;
    }

    .content_divider{
        margin-top: 10px;
    }

    .ending_container{
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .left_container, .right_container{
        width: 216px;
        height: 62px;
        margin: auto;
        text-align: center;
    }

    .right_container{
        margin-top: 25px;
    }


    /*** Crew Mobile *************************************/

    .crew_title_container{
        margin: auto;
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .number_title-01{
        font-size: 16px;
    }
    .title_content_destination{
        font-size: 16px;
    }

    #person_logo{
        width: 177.12px;
        height: 222px;
        position: unset;
    }
    #person_logo_container{
        position: unset;
        height: 222px;
        display: flex;
        justify-content: center;
        width: 100%;
    }

    .middle_content_wrapper{
        display: flex;
        flex-direction: column;
    }

    .crew_content_container{
        height: auto;
        margin-top: 30px;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #top_job_position{
        font-size: 16px;
        margin-top: 30px;
        margin-bottom: 0px;
    }

    #top_job_name{
        font-size: 24px;
        margin-bottom: 9px;
    }

    .middle_content_wrapper .person_logo_container{
        order: 1;
    }

    .middle_content_wrapper .crew_content_container{
        order: 2;
    }

    #job_description{
        font-size: 15px;
        line-height: 25px;
        text-align: center;
        width: 325px;
    }

    .crew_content_container .button_slider_container{
        order: 1;
    }
    .crew_content_container .job_description_container{
        order: 4;
    }
    .crew_content_container #top_job_name{
        order: 3;
    }
    .crew_content_container #top_job_position{
        order: 2;
    }

    .button_slider_container{
        text-align: center;
    }
    .button_slider_container button{
        width: 10px;
        height: 10px;
    }

    #btn_one, #btn_two, #btn_three, #btn_four{
        margin: 0px;
    }

    .button_slider_container{
        width: 88px;
        display: flex;
        justify-content: space-around;
    }


    /** Technology Responsive **************************/

    #image_container{
        width: auto;
        height: 170px;
        margin-top: 15px;
    }

    .tech_button_container{
        width: 152px;
    }

    .tech_button_container button{
        width: 40px;
        height: 40px;
        font-size: 16px;
    }

    #content_container{
        display: flex;
        justify-content: center;
        flex-direction: column;
        width: auto;
        margin: 0 24px 0 24px;
    }

    #tech_first_heading{
        font-size: 14px;
        letter-spacing: 2.36px;
    }
    #tech_second_heading{
        font-size: 24px;
    }
    #tech_third_heading{
        font-size: 15px;
        line-height: 25px;
        text-align: center;
    }

}

